{% extends "base.html" %}
{% block content %}
{{ wtf.quick_form(dogform) }}
{#<form action="" method="POST" novalidate>
{{ dogform.hidden_tag() }}
    <p>
        {{ dogform.pic.label }}<br>
        {{ dogform.pic() }}
    </p>
    <p>
        {{ dogform.name.label }}<br>
        {{ dogform.name() }}
    </p>
    <p>
        {{ dogform.breed.label }}<br>
        {{ dogform.breed() }}
    </p>
    <p>
        {{ dogform.availability_type.label }}<br>
        {{ dogform.availability_type() }}
    </p>
</form>#}
{% endblock %}