<div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
  <a class="card-link" href="{{ url_for("dog", dog_id=dog.id) }}">
      <div class="card h-100">
          <div class="thumbnail">
              <img class="card-img-top" src="{{ url_for("static", filename=dog.pic) }}" alt="dog profile pic">
          </div>
          <div class="card-body">
              <h4 class="card-title text-center text-primary">
                {{ dog.name }}
              </h4>
              <p class="text-center">Hang with me next:</p>
              <h5 class="text-center">{{ dog.availability }}</h5>
              <!--dog description-->
              <p class="card-text">
                {{ dog.description }}
              </p>
          </div>
      </div>
  </a>
</div>
