    <div class="container">
      <h1 class="text-center">Find Your Next Best Friend</h1>
      <hr />
      <div class="row">
        <ul id="sort-filter-listings" class="list-inline mr-auto">
          <li class="list-inline-item">
            <div id="sort-listings" class="dropdown">
              <button class="btn dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Sort by:
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Ratings</a>
                <a class="dropdown-item" href="#">Time</a>
                <a class="dropdown-item" href="#">Location</a>
              </div>
            </div>
          </li>
          <li class="list-inline-item">
            <div id="filter-listings-time" class="dropdown">
              <button class="btn dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Filter by time:
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Today</a>
                <a class="dropdown-item" href="#">Tomorrow</a>
                <a class="dropdown-item" href="#">This Week</a>
                <a class="dropdown-item" href="#">More Options...</a> {# do a calendar #}
              </div>
            </div>
          </li>
          <li class="list-inline-item">
            <div id="filter-listings-time" class="dropdown">
              <button class="btn dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Filter by shelter/nonshelter:
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Only Shelter Dogs</a>
                <a class="dropdown-item" href="#">Any Dogs</a>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="row">
      {% for dog in dogs %}
         {% with dog=dog %}
         {% include "dog_card.html" %}
         {% endwith %}
      {% endfor %}
