    <div class="container">
      <h1 class="text-center">Find Your Next Best Friend</h1>
      <hr />
      <div class="row">
        <ul id="sort-filter-listings" class="list-inline mr-auto">
          <li class="list-inline-item">
            <div id="sort-listings" class="dropdown">
              <button class="btn dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Sort by:
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Ratings</a>
                <a class="dropdown-item" href="#">Time</a>
                <a class="dropdown-item" href="#">Location</a>
              </div>
            </div>
          </li>
          <li class="list-inline-item">
            <div id="filter-listings-time" class="dropdown">
              <button class="btn dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Filter by time:
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Today</a>
                <a class="dropdown-item" href="#">Tomorrow</a>
                <a class="dropdown-item" href="#">This Week</a>
                <a class="dropdown-item" href="#">More Options...</a> {# do a calendar #}
              </div>
            </div>
          </li>
          <li class="list-inline-item">
            <div id="filter-listings-time" class="dropdown">
              <button class="btn dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Filter by shelter/nonshelter:
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Only Shelter Dogs</a>
                <a class="dropdown-item" href="#">Any Dogs</a>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="row">
      {% for dog in dogs %}
          <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
              <a class="card-link" href="dog_profile.html">
                  <div class="card h-100">
                      <div class="thumbnail">
                          <img class="card-img-top" src="imgs/dog-1.jpg" alt="dog profile pic">
                      </div>
                      <div class="card-body">
                          <h4 class="card-title text-center text-primary">
                            {{ dog.name }}
                          </h4>
                          <p class="text-center">Hang with me next:</p>
                          <h5 class="text-center">{{ availability_to_readable(dog.availability) }}</h5>
                          <!--dog description-->
                          <p class="card-text">
                            {{ dog.description }}
                          </p>
                      </div>
                  </div>
              </a>
          </div>
      {% endfor %}
