{% extends "base.html" %}
{% block content %}
    <div class="container">
      <h1 class="text-center">My Listings</h1>
      <hr />
      <div class="row">
      {% for dog in dogs %}
          {% with dog=dog %}
              {% include "dog_card.html" %}
          {% endwith %}
      {% endfor %}
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
          <a href="{{ url_for("add_dog") }}">
            <div class="card h-100">
              <img class="card-img-top thumbnail" src="static/imgs/plus.png" alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title text-center">Add a Dog</h4>
                <p class="card-text">Create a new listing</p>
              </div>
            </div>
          </a>
        </div>
        </div>
      </div>
{% endblock %}
