<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
    <a class="navbar-brand" href="{{ url_for("index") }}"><img id="logo"
                                                               src="{{ url_for("static", filename="imgs/subpup.png") }}"
                                                               alt="logo"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            {% if current_user.is_authenticated %}
                <li class="nav-item {{ 'active' if active_page == 'index' else '' }}">
                    <a class="nav-link" href="{{ url_for("index") }}">Browse<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown {{ 'active' if active_page == 'reservations' else '' }}">
                    <a class="nav-link" href="{{ url_for("my_reservations") }}">My Reservations</a>
                </li>
                <li class="nav-item {{ 'active' if active_page == 'manage' else '' }}">
                    <a class="nav-link" href="{{ url_for("manage_listings") }}">Manage Dog Listings</a>
                </li>
            {% endif %}
            <li class="nav-item dropdown">
                <a class="nav-link" href="{{ url_for("about") }}">Our Mission</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            {% if current_user.is_authenticated %}
                <li>
                    <div style="margin-top: 7px; margin-right: 10px;">Woof woof, {{ current_user.name }}</div>
                </li>
                <li>
                    <a class="btn btn-outline-danger" href="{{ url_for("log_out") }}">Logout</a>
                </li>
            {% else %}
                <li>
                    <a class="btn btn-outline-success" href="/log_in/google">Login</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>
